{% extends 'base.html' %}
{% load static %}
{% block title %}product list{% endblock %}

{% block content %}
    <h1>Products</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'product_list' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <div>
        {% for product in products %}
            <div>
                <h2><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h2>
                <p>Price: {{ product.display_price }}</p>
                <p>{{ product.description|truncatewords:20 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock%}